html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Heebo', sans-serif;
    touch-action: manipulation;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background:black;
    color: white;
    padding-top: 10px;
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#openingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: min(10vw,10vh,40px);
  text-align: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-out;
}

#openingScreen.hide {
  opacity: 0;
}



#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: auto;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#container.show {
  opacity: 1;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: min(1vw, 5px);
    gap: 0px;

    max-width: 500px;
    max-height: 500px;
    z-index:1;
    padding:5px;
    border: 3px solid #b1b1b1;
    border-radius: 3px;
    background:transparent;
    position: relative; /* Added to contain the tiles */
    overflow: hidden; /* Added to hide overflowing content */
}

#title-board {
    transform: scale(1);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 5px;
    border-radius: 5px;
    background:transparent;
    position: relative;
    overflow: hidden;
}

#title-board.reduced {
  transform: scale(0.65);
}

.title-tile {
  background: transparent;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  font-size: 8vw;
  font-weight:bold;
  transition: transform 0s ease;
  position: relative;
  z-index: 1;
  border-radius: 2px;
}


.tile {
    box-shadow:
      inset 0 -2px 0 black,
      inset 0 2px 0 0 black,
      inset 2px 0 0 0 black,
      inset -2px 0 0 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(12.25vw, 12.25vh, 60px);
    height: min(12.25vw, 12.25vh, 60px);
    font-size: min(7.5vw, 40px);
    font-weight:bold;
    transition: transform 0s ease;
    position: relative;
    z-index: 1;
    /* border-radius: 3px; */
    color: black;
}

#score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 10px 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}



.score-value{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(4vw, 16px);
}

#puzzle-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  font-size: min(4vw, 30px);
}

#total-score{
  font-size: min(7vw, 40px);
  height: min(14vw, 90px);
  width: min(14vw, 90px);
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#total-score-box{
  height: min(16vw, 100px);
  width: min(16vw, 100px);
  border: 3px solid #b1b1b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-left: 15px;
}


#word-box {
    top: 450px;
    margin-top: 20px;
    height: 150px;
    width: min(95vw, 500px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    z-index: 4;
    transition: 0.5s;
    color: white;
}

.clickable-word {
  width: 75px;
  padding: 0px 10px;
  display: inline-grid;
}

#word-box-inner {
    text-align: center; /* Center text horizontally */
    word-wrap: break-word;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}




.score-key{
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-size: min(6vw, 23px);
  width: min(8vw, 8vh, 40px);
  height: min(8vw, 8vh, 40px);
  font-weight: bold;
  max-height:40px;
  max-width:40px;
  margin:0px 5px;
  border-radius:2px;
}

.score-line {
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  width: 80px;
  margin-top:3px;
  height: 3px;
  background: white;
}


.empty {
    /* background-color: #bbb; */
}

.filled {
    background-color: #b1b1b1;
    /* -webkit-box-shadow:inset 0px 0px 0px 2px #999999;
    -moz-box-shadow:inset 0px 0px 0px 2px #999999;
    box-shadow:inset 0px 0px 0px 2px #999999; */
}

.half {
  background-color: #F5F5F5;
  /* -webkit-box-shadow:inset 0px 0px 0px 2px #CCCCCC;
  -moz-box-shadow:inset 0px 0px 0px 2px #CCCCCC;
  box-shadow:inset 0px 0px 0px 2px #CCCCCC; */
}

.single {
  background-color: #47B6FF;
  /* -webkit-box-shadow:inset 0px 0px 0px 2px #1FA5FF;
  -moz-box-shadow:inset 0px 0px 0px 2px #1FA5FF;
  box-shadow:inset 0px 0px 0px 2px #1FA5FF; */
}

.double {
  background-color: #527fe0;
  /* -webkit-box-shadow:inset 0px 0px 0px 2px #3B6dd9;
  -moz-box-shadow:inset 0px 0px 0px 2px #3B6dd9;
  box-shadow:inset 0px 0px 0px 2px #3B6dd9; */
}

.triple {
  background-color: #7f4ebc;
  /* -webkit-box-shadow:inset 0px 0px 0px 2px #6B3EA3;
  -moz-box-shadow:inset 0px 0px 0px 2px #6B3EA3;
  box-shadow:inset 0px 0px 0px 2px #6B3EA3; */
}

.quadruple {
  background-color: #c841a6;
  /* -webkit-box-shadow:inset 0px 0px 0px 2px #B22e91;
  -moz-box-shadow:inset 0px 0px 0px 2px #B22e91;
  box-shadow:inset 0px 0px 0px 2px #B22e91; */
}

.quintuple {
  background-color: #ff1f87;
}

.correct {
  /* color: green; */
}

#title{
  font-size: 32px;
  z-index: 10;
  width: 70%;
  transition: 0.5s;
  transform: translateY(0px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#loadingText{
  border: 3px solid white;
  font-size: min(7vw, 40px);
  height: min(14vw, 90px);
  width: min(14vw, 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-image{
  width: 100%;
}

button {
  border: solid 0.5px white;
  color: white;
  background-color: black; /* Changed from transparent */
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.3s;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  background-color: white;
  color: black;
}

.button-count{
  font-size: 0.75em;
}

#buttons-container {
  display: flex;
  justify-content: space-around; /* Space the buttons evenly */
  flex-wrap: nowrap; /* Prevent the buttons from wrapping */
  width: min(100%, 500px);
  position: fixed;
  bottom: 0;
  padding-bottom:10px;
  z-index: 10;
}

.shadow {
z-index: 10;
}
